<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pick'emup GO</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
 
  <body>

    <% include ../partials/navbar.ejs %>
    
    <div class="container">
 
      <div class="">
        <h3>Welcome to Pick'emup GO!</h3>
        <!-- <ul class="list-group">
          <li class="list-group-item"><p><a href="/find_events">Looking to Join a game?</a></p></li>
          <li class="list-group-item"><p><a href="/new_event">Looking to Host an event?</a></p></li>
        </ul> -->
        <div class="list-group">
          <a href="/find_events" class="list-group-item list-group-item-action">Looking to Join a game?</a>
          <a href="/new_event" class="list-group-item list-group-item-action">Looking to Host an event?</a>
        </div>
      </div>
 
    </div>
  </body>
  <script>

  function getCoordinates () {
    navigator.geolocation.getCurrentPosition(function (geoObj) {
      console.log("Coord Setting:", geoObj);
      document.getElementById("locationPref").value = geoObj.coords.latitude + "::" + geoObj.coords.longitude;
    });
  };
  </script>
</html>