<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Financial Planner</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>
 
  <body>
 
    <div class="container">
 
      <div class="jumbotron">
        <h1>Sign Up!</h1>
        <form class="form-signin" action="/create_user" method="post">
          
          <label for="username" class="sr-only">Username</label>
          <input type="text" name="username"class="form-control" placeholder="Pick a username" autofocus>

          <label for="password" class="sr-only">Password</label>
          <input type="text" name="password"class="form-control" placeholder="Password">
          
          <label for="firstName" class="sr-only">First Name</label>
          <input type="txt" name="firstName" class="form-control" placeholder="First Name">
          
          <label for="lastName" class="sr-only">Last Name</label>
          <input type="txt" name="lastName" class="form-control" placeholder="Last Name">
          
          <label for="activityPreference" class="sr-only">Activity Preference</label>
          <input type="text" name="activityPreference" class="form-control" placeholder="Basketball, Hockey, etc...">
          
          <label for="locationPref" class="sr-only">Location Preference</label>
          <input type="text" name="locationPref" id="locationPref" class="form-control" placeholder="" disabled>
           
          <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign Up!</button>
        </form>
      </div>
 
      <footer class="footer">
        <p>&copy; Company 2016</p>
      </footer>
 
    </div>
  </body>
  <script>

  function getCoordinates () {
    navigator.geolocation.getCurrentPosition(function (geoObj) {
      console.log("Coord Setting:", geoObj);
      document.getElementById("locationPref").value = geoObj.coords.latitude + "::" + geoObj.coords.longitude;
    });
  };
  </script>
</html>